Repository jimmy-guzman/noticias: changes, and which lefthook commands are due for each by the changed paths.
All: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

apps:nextjs:lint:
  run: pnpm exec eslint --fix . {staged_files}
  stage_fixed: true

libs:hn:lint:
  run: pnpm exec eslint --fix . {staged_files}
  stage_fixed: true

format:
  run: pnpm exec prettier --write --cache . {staged_files}
  stage_fixed: true

sort-package-json:
  run: pnpm dlx sort-package-json {staged_files}
  stage_fixed: true

refactor: ♻️ move tsconfig to libs
  README.md
  apps/next.js/package.json
  apps/next.js/tsconfig.json
  configs/ts-config/base.json
  configs/ts-config/library.json
  configs/ts-config/next.json
  configs/ts-config/package.json
  libs/hn/package.json
  libs/hn/tsconfig.json
  pnpm-lock.yaml
Due: format, sort-package-json

refactor: ♻️ rename tailwind to tailwind-config
  README.md
  configs/tailwind-config/README.md
  configs/tailwind-config/package.json
  configs/tailwind-config/tailwind.config.ts
  pnpm-lock.yaml
Due: format, sort-package-json

refactor: ♻️ move tsconfig to libs (#14)
  README.md
  apps/next.js/package.json
  apps/next.js/tsconfig.json
  configs/tailwind-config/README.md
  configs/tailwind-config/package.json
  configs/tailwind-config/tailwind.config.ts
  configs/ts-config/base.json
  configs/ts-config/library.json
  configs/ts-config/next.json
  configs/ts-config/package.json
  libs/hn/package.json
  libs/hn/tsconfig.json
  pnpm-lock.yaml
Due: format, sort-package-json

refactor: ♻️ move tables to a new ui package
  README.md
  apps/next.js/package.json
  apps/next.js/src/app/ask/page.tsx
  apps/next.js/src/app/best/page.tsx
  apps/next.js/src/app/jobs/page.tsx
  apps/next.js/src/app/layout.tsx
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/app/new/page.tsx
  apps/next.js/src/app/page.tsx
  apps/next.js/src/app/show/page.tsx
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/atoms/index.ts
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/molecules/index.ts
  apps/next.js/src/components/molecules/table/index.ts
  apps/next.js/src/components/nav-bar.tsx
  apps/next.js/src/components/organisms/index.ts
  apps/next.js/src/components/stories-table.tsx
  apps/next.js/src/components/tabs.tsx
  configs/ts-config/README.md
  libs/ui/README.md
  libs/ui/eslint.config.mjs
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/table-header.tsx
  libs/ui/src/table.tsx
  libs/ui/tsconfig.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, format, sort-package-json

refactor: ♻️ move tables to a new ui package (#15)
  README.md
  apps/next.js/package.json
  apps/next.js/src/app/ask/page.tsx
  apps/next.js/src/app/best/page.tsx
  apps/next.js/src/app/jobs/page.tsx
  apps/next.js/src/app/layout.tsx
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/app/new/page.tsx
  apps/next.js/src/app/page.tsx
  apps/next.js/src/app/show/page.tsx
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/atoms/index.ts
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/molecules/index.ts
  apps/next.js/src/components/molecules/table/index.ts
  apps/next.js/src/components/nav-bar.tsx
  apps/next.js/src/components/organisms/index.ts
  apps/next.js/src/components/stories-table.tsx
  apps/next.js/src/components/tabs.tsx
  configs/ts-config/README.md
  libs/ui/README.md
  libs/ui/eslint.config.mjs
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/table-header.tsx
  libs/ui/src/table.tsx
  libs/ui/tsconfig.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, format, sort-package-json

fix: 🐛 bring back table styles
  apps/next.js/src/app/layout.tsx
  libs/ui/package.json
  libs/ui/src/styles.css
  libs/ui/tailwind.config.ts
  pnpm-lock.yaml
  turbo.json
Due: apps:nextjs:lint, format, sort-package-json

fix: 🐛 bring back table styles (#16)
  apps/next.js/src/app/layout.tsx
  libs/ui/package.json
  libs/ui/src/styles.css
  libs/ui/tailwind.config.ts
  pnpm-lock.yaml
  turbo.json
Due: apps:nextjs:lint, format, sort-package-json

chore: 🤖 bump deps
  apps/next.js/package.json
  libs/hn/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json

chore: 🤖 bump deps (#17)
  apps/next.js/package.json
  libs/hn/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: format, sort-package-json

chore: 🤖 bump deps again
  apps/next.js/eslint.config.mjs
  apps/next.js/package.json
  apps/next.js/src/components/active-link.tsx
  configs/tailwind-config/package.json
  libs/hn/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, format, sort-package-json

chore: 🤖 bump deps again (#18)
  apps/next.js/eslint.config.mjs
  apps/next.js/package.json
  apps/next.js/src/components/active-link.tsx
  configs/tailwind-config/package.json
  libs/hn/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, format, sort-package-json

chore: 🤖 bump deps, except tailwindcss
  .vscode/settings.json
  apps/next.js/eslint.config.mjs
  apps/next.js/eslint.config.ts
  apps/next.js/next.config.ts
  apps/next.js/package.json
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/stories-table.tsx
  libs/hn/eslint.config.mjs
  libs/hn/eslint.config.ts
  libs/hn/package.json
  libs/ui/eslint.config.mjs
  libs/ui/eslint.config.ts
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/table.tsx
  package.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

chore: 🤖 bump deps, except tailwindcss (#19)
  .vscode/settings.json
  apps/next.js/eslint.config.mjs
  apps/next.js/eslint.config.ts
  apps/next.js/next.config.ts
  apps/next.js/package.json
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/stories-table.tsx
  libs/hn/eslint.config.mjs
  libs/hn/eslint.config.ts
  libs/hn/package.json
  libs/ui/eslint.config.mjs
  libs/ui/eslint.config.ts
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/table.tsx
  package.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

feat: ✨ migrate to tailwind v4
  .knip.json
  apps/next.js/package.json
  apps/next.js/postcss.config.mjs
  apps/next.js/src/app/layout.tsx
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/nav-bar.tsx
  apps/next.js/src/components/stories-table.tsx
  apps/next.js/src/components/tabs.tsx
  apps/next.js/src/styles/globals.css
  apps/next.js/tailwind.config.ts
  configs/tailwind-config/README.md
  configs/tailwind-config/package.json
  configs/tailwind-config/tailwind.config.ts
  libs/hn/src/apis.ts
  libs/ui/README.md
  libs/ui/eslint.config.ts
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/styles.css
  libs/ui/src/table-header.tsx
  libs/ui/src/table.tsx
  libs/ui/tailwind.config.ts
  libs/ui/tsconfig.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

feat: ✨ migrate to tailwind v4 (#20)
  .knip.json
  apps/next.js/package.json
  apps/next.js/postcss.config.mjs
  apps/next.js/src/app/layout.tsx
  apps/next.js/src/app/loading.tsx
  apps/next.js/src/components/jobs-table.tsx
  apps/next.js/src/components/nav-bar.tsx
  apps/next.js/src/components/stories-table.tsx
  apps/next.js/src/components/tabs.tsx
  apps/next.js/src/styles/globals.css
  apps/next.js/tailwind.config.ts
  configs/tailwind-config/README.md
  configs/tailwind-config/package.json
  configs/tailwind-config/tailwind.config.ts
  libs/hn/src/apis.ts
  libs/ui/README.md
  libs/ui/eslint.config.ts
  libs/ui/package.json
  libs/ui/src/skeleton-table.tsx
  libs/ui/src/styles.css
  libs/ui/src/table-header.tsx
  libs/ui/src/table.tsx
  libs/ui/tailwind.config.ts
  libs/ui/tsconfig.json
  pnpm-lock.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

chore: 🤖 bump deps
  .knip.json
  apps/next.js/next.config.ts
  apps/next.js/package.json
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/nav-bar.tsx
  libs/hn/package.json
  libs/hn/src/apis.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

chore: 🤖 bump deps (#21)
  .knip.json
  apps/next.js/next.config.ts
  apps/next.js/package.json
  apps/next.js/src/components/active-link.tsx
  apps/next.js/src/components/nav-bar.tsx
  libs/hn/package.json
  libs/hn/src/apis.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: apps:nextjs:lint, libs:hn:lint, format, sort-package-json

Path conditions:
  apps:nextjs:lint: any of: *.{js,ts,mjs,jsx,tsx} and ^apps/next\.js/
  libs:hn:lint: any of: *.{js,ts,mjs,jsx,tsx} and ^libs/hn/
  format: any of: *.{js,ts,mjs,jsx,tsx,json,md,yaml,yml}
  sort-package-json: any of: {,**/}package.json
